@import "tailwindcss";

:root {
  --spacing: 1px;
}

.fs-32 {
  font-size: calc(var(--spacing) * 32);
}

.fs-64 {
  font-size: calc(var(--spacing) * 64);
}

.fs-70 {
  font-size: calc(var(--spacing) * 70);
}

.fs-72 {
  font-size: calc(var(--spacing) * 72);
}
